[package]
name = "murr"
version = "0.1.0"
edition = "2024"

[features]
testutil = ["dep:tempfile", "dep:rand"]

[dependencies]
config = "0.15.19"
serde = { version = "1.0.228", features = ["derive"] }
thiserror = "2.0.17"
anyhow = "1.0.100"
humantime-serde = "1"

log = { version = "0.4.29", features = ["kv"] }
env_logger = "0.11"
clap = { version = "4.5.54", features = ["derive"] }
arrow = { version = "57", default-features = true, features = ["ipc"] }
parquet = { version = "57", default-features = false, features = ["arrow"] }
tokio = { version = "1", features = ["rt-multi-thread", "fs", "time", "sync", "macros"] }
tokio-stream = "0.1"
async-trait = "0.1"
memmap2 = "0.9"
bytes = "1"
axum = "0.8"
tower-http = { version = "0.6", features = ["trace"] }
serde_json = "1"
serde_yaml_ng = "0.10"
ahash = "0.8"
ouroboros = "0.18"
bytemuck = { version = "1", features = ["derive"] }
tempfile = { version = "3", optional = true }
rand = { version = "0.8", optional = true }

[dev-dependencies]
murr = { path = ".", features = ["testutil"] }
criterion = { version = "0.5", features = ["html_reports", "async_tokio"] }
rand = "0.8"
bitvec = "1"
ahash = "0.8"
rayon = "1"
rstest = "0.24"
http-body-util = "0.1"
tower = { version = "0.5", features = ["util"] }
redis = { version = "0.27", features = ["tokio-comp", "connection-manager"] }
testcontainers = "0.23"
testcontainers-modules = { version = "0.11", features = ["redis"] }

[[bench]]
name = "hashmap_bench"
harness = false

[[bench]]
name = "hashmap_row_bench"
harness = false

[[bench]]
name = "table_bench"
harness = false

[profile.bench]
debug = 1                   # line tables + symbols (good enough for perf)
lto = false                 # optional: makes disasm easier to read
codegen-units = 1           # optional: more stable codegen
panic = "abort"             # optional
force-frame-pointers = true

[profile.bench.build-override]
debug = true
# force-frame-pointers = true                                                                                                                                                                                     

[profile.bench.package."*"]
debug = true
# force-frame-pointers = true
