[package]
name = "murr"
version = "0.1.0"
edition = "2024"

[features]
testutil = ["dep:tempfile", "dep:rand"]

[dependencies]
config = "0.15.19"
serde = { version = "1.0.228", features = ["derive"] }
thiserror = "2.0.18"
log = { version = "0.4.29", features = ["kv"] }
env_logger = "0.11"
clap = { version = "4.5.60", features = ["derive"] }
arrow = { version = "58", default-features = true, features = ["ipc"] }
parquet = { version = "58", default-features = false, features = ["arrow"] }
tokio = { version = "1", features = [
    "rt-multi-thread",
    "fs",
    "time",
    "sync",
    "macros",
] }
tokio-stream = "0.1"
async-trait = "0.1"
memmap2 = "0.9"
axum = "0.8"
tower-http = { version = "0.6", features = ["trace"] }
arrow-flight = "58"
tonic = "0.14"
futures = "0.3"
serde_json = "1"
serde_yaml_ng = "0.10"
ahash = "0.8"
ouroboros = "0.18"
mimalloc = { version = "0.1", default-features = false }
bytemuck = { version = "1", features = ["derive"] }
tempfile = { version = "3", optional = true }
rand = { version = "0.10", optional = true }

[dev-dependencies]
mimalloc = { version = "0.1", default-features = false }
murr = { path = ".", features = ["testutil"] }
criterion = { version = "0.8", features = ["html_reports", "async_tokio"] }
rand = "0.10"
http-body-util = "0.1"
tower = { version = "0.5", features = ["util"] }
redis = { version = "1.0", features = ["tokio-comp", "connection-manager"] }
testcontainers = "0.27"
testcontainers-modules = { version = "0.15", features = ["redis"] }
reqwest = { version = "0.13", features = ["json"] }

[[bench]]
name = "hashmap_bench"
harness = false

[[bench]]
name = "hashmap_row_bench"
harness = false

[[bench]]
name = "table_bench"
harness = false

[[bench]]
name = "http_bench"
harness = false

[[bench]]
name = "flight_bench"
harness = false

[[bench]]
name = "redis_featureblob_bench"
harness = false

[[bench]]
name = "redis_feast_bench"
harness = false

[profile.bench]
debug = 1                   # line tables + symbols (good enough for perf)
lto = false                 # optional: makes disasm easier to read
codegen-units = 1           # optional: more stable codegen
panic = "abort"             # optional
force-frame-pointers = true

[profile.bench.build-override]
debug = true
# force-frame-pointers = true                                                                                                                                                                                     

[profile.bench.package."*"]
debug = true
# force-frame-pointers = true
