name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lint GitHub Actions workflows
        uses: reviewdog/action-actionlint@v1

  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-14, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo registry and build
        uses: Swatinem/rust-cache@v2
      
      - name: Run cargo check
        run: cargo check --all-targets

      - name: Run tests
        run: cargo test
